# CRUD operation on mongodb database using python

In [33]:
import pymongo
from pymongo import MongoClient
import certifi

In [34]:
ca=certifi.where()
cluster=pymongo.MongoClient("your connection string",tlsCAFile=ca)

**Database creation**

In [89]:
Mydbvar=cluster.ABCorganization

In [90]:
collectionvar=Mydbvar.Employee

# Insertion

In [91]:
collectionvar.insert({"name":'wais',"role":'data scientist',"id":'001A',"Department":'Analysis',"age":24,"Education":"MSc.DSAI"})
collectionvar.insert({"name":'Yousof',"role":'data scientist',"id":'002A',"Department":'Analysis',"age":25,"Hobby":"Reading books"})

<ipython-input-91-054650b4bcdc>:1: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  collectionvar.insert({"name":'wais',"role":'data scientist',"id":'001A',"Department":'Analysis',"age":24,"Education":"MSc.DSAI"})
<ipython-input-91-054650b4bcdc>:2: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  collectionvar.insert({"name":'Yousof',"role":'data scientist',"id":'002A',"Department":'Analysis',"age":25,"Hobby":"Reading books"})

ObjectId('61a9c213dbfecc37f1554909')

insert_one

In [92]:
resultobj=collectionvar.insert_one({"name":'Ehsan',"role":'manager',"id":'001m',"Department":'management',"age":40,"Education":"MBA"})
resultobj.inserted_id

ObjectId('61a9c230dbfecc37f155490a')

insert_many

In [93]:
results=collectionvar.insert_many([#it should start with sqr braket
    {"name":'wais',"role":'data scientist',"id":'001A',"Department":'Analysis',"age":24,"Education":"MSc.DSAI"},
    {"name":'Yousof',"role":'data scientist',"id":'002A',"Department":'Analysis',"age":25,"Hobby":"Reading books"},
    {"name":'Ahmad',"role":'Manager',"id":'001B',"Department":'Management',"age":35,"address":{"city":"Mumbai","Area":"Marol"}},
    {"name":'Arsalan',"role":'HR',"id":'001H',"Department":'Recruiter',"age":30},
    {"name":'Ehsan2',"role":'CEO2',"id":'0015',"Department":'Managment',"age":30,"experinace":{"Manager":"Facebook","SoftwareEng":"Google"}},
    {"name":'Enayat',"role":'software engineer',"id":'001S',"Department":'IT',"age":26},
    {"name":'Munaz',"role":'HR',"id":'002H',"Department":'Recr',"age":23,"fathernm":"Zia"}])

In [94]:
results.inserted_ids

[ObjectId('61a9c26adbfecc37f155490b'),
 ObjectId('61a9c26adbfecc37f155490c'),
 ObjectId('61a9c26adbfecc37f155490d'),
 ObjectId('61a9c26adbfecc37f155490e'),
 ObjectId('61a9c26adbfecc37f155490f'),
 ObjectId('61a9c26adbfecc37f1554910'),
 ObjectId('61a9c26adbfecc37f1554911')]

# Read operation
using find_one() method

In [95]:
collectionvar.find_one()

{'_id': ObjectId('61a9c213dbfecc37f1554908'),
 'name': 'wais',
 'role': 'data scientist',
 'id': '001A',
 'Department': 'Analysis',
 'age': 24,
 'Education': 'MSc.DSAI'}

In [96]:
dic=collectionvar.find_one()

In [97]:
len(dic.items())

7

In [98]:
pars=dic.items()
for key, value in pars:
    print(key,value)

_id 61a9c213dbfecc37f1554908
name wais
role data scientist
id 001A
Department Analysis
age 24
Education MSc.DSAI

read all documents

In [99]:
dicall=collectionvar.find()

In [100]:
#collectionvar.count()
lt=collectionvar.estimated_document_count()
lt

10

In [101]:
for i in range(0,lt):
    for key,val in dicall.next().items():
        print(key,val)
    print("\n")

_id 61a9c213dbfecc37f1554908
name wais
role data scientist
id 001A
Department Analysis
age 24
Education MSc.DSAI


_id 61a9c213dbfecc37f1554909
name Yousof
role data scientist
id 002A
Department Analysis
age 25
Hobby Reading books


_id 61a9c230dbfecc37f155490a
name Ehsan
role manager
id 001m
Department management
age 40
Education MBA


_id 61a9c26adbfecc37f155490b
name wais
role data scientist
id 001A
Department Analysis
age 24
Education MSc.DSAI


_id 61a9c26adbfecc37f155490c
name Yousof
role data scientist
id 002A
Department Analysis
age 25
Hobby Reading books


_id 61a9c26adbfecc37f155490d
name Ahmad
role Manager
id 001B
Department Management
age 35
address {'city': 'Mumbai', 'Area': 'Marol'}


_id 61a9c26adbfecc37f155490e
name Arsalan
role HR
id 001H
Department Recruiter
age 30


_id 61a9c26adbfecc37f155490f
name Ehsan2
role CEO2
id 0015
Department Managment
age 30
experinace {'Manager': 'Facebook', 'SoftwareEng': 'Google'}


_id 61a9c26adbfecc37f1554910
name Enayat
role software engineer
id 001S
Department IT
age 26


_id 61a9c26adbfecc37f1554911
name Munaz
role HR
id 002H
Department Recr
age 23
fathernm Zia

Reading only specific field

In [102]:
names=collectionvar.find( {},{"name":True,"age":True,"_id":0})

In [103]:
for i in range(0,lt):
    for kname,vname in names.next().items():
        print(kname,vname)

name wais
age 24
name Yousof
age 25
name Ehsan
age 40
name wais
age 24
name Yousof
age 25
name Ahmad
age 35
name Arsalan
age 30
name Ehsan2
age 30
name Enayat
age 26
name Munaz
age 23

AND Operation

In [104]:
k=collectionvar.find_one(
    {"$and":
     [ {"name":"Munaz"},
       {"age":23}
     ]})

In [105]:
for key,val in k.items():
    print(key,val)

_id 61a9c26adbfecc37f1554911
name Munaz
role HR
id 002H
Department Recr
age 23
fathernm Zia

OR Operation

In [106]:
pk=collectionvar.find(
    {"$or":
     [ {"name":"Ehsan"},
       {"age":23}
     ]})

In [107]:
lgth=pk.count()
lgth

<ipython-input-107-900ea835f2d0>:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  lgth=pk.count()

2

In [108]:
for i in range(0,lgth):
    for key,val in pk.next().items():
        print(key,val)
    print("\n")

_id 61a9c230dbfecc37f155490a
name Ehsan
role manager
id 001m
Department management
age 40
Education MBA


_id 61a9c26adbfecc37f1554911
name Munaz
role HR
id 002H
Department Recr
age 23
fathernm Zia

In [109]:
#ageval=collectionvar.find({"age":{"$gt":30}})
ageval=collectionvar.find({"name":{"$eq":"Shahla"}})

In [110]:
for i in range(0,ageval.count()):
    for k,v in ageval.next().items():
        print(k,v)
    print("\n")

<ipython-input-110-3e09bdc790b1>:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  for i in range(0,ageval.count()):

**Update operation**

In [111]:
condition = {"name":"Munaz"}
updatedval={"name":"Shahla"}

updtresult=collectionvar.update_one(condition,{"$set":updatedval})

In [112]:
updtresult.matched_count,updtresult.modified_count,updtresult.modified_count

(1, 1, 1)

In [113]:
#delete operation
condtn={"name":"Ehsan2"}
collectionvar.delete_one(condtn)



***droping database or collection***

In [114]:
collectionvar.drop()

In [ ]:
#drop database
#cluster.drop_database('ABCOrganiztion')